// used to add transform effect
@mixin transformEffect_hide($x, $y) {
  position: fixed;

  transform: translate($x, $y);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.15s linear 0.1s;
}
// used to add transform effect
@mixin transformEffect_show($x, $y) {
  transform: translate($x, $y);
  opacity: 1;
}

@mixin pageLayout() {
  padding: $page-padding;
}

@mixin tableView() {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 10px;
}

@mixin tableView_property() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    color: $main-color;
    font-weight: bold;
    width: 30%;
  }
}
