@import "../../../../sass/main.scss";

.NavigationText {
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-size: 1em;
  color: white;
  a {
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-weight: normal;
    transition: font-weight 0.2s;

    &:hover,
    &:active {
      font-weight: bold;
    }
    &.active {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 950px) {
  .NavigationText {
    font-size: 10px;
  }
}
@media screen and (max-width: 850px) {
  .NavigationText {
    font-size: 1.3em;

    text-align: center;
  }
}
