@import "../../../sass/main.scss";
.defaultButton {
  background-color: $main-color;
  border-radius: 15px;
  color: white;
  border: none;
  cursor: pointer;
  user-select: none;
  padding: 5px;
  a {
    color: white;
    text-decoration: none;
  }
}
