@import "../../../../sass/main.scss";
tr {
  td {
    a {
      color: white;
      text-decoration: none;
    }

    .deleteIcon {
      border: none;
      background-color: transparent;
      color: red;
    }
  }
}
