@import "../../../sass/main.scss";
.ComputerDetailPage {
  .message {
    background-color: green;
    color: white;
    padding: 5px;
  }
  .main {
    margin: 0 auto 0 auto;
    max-width: 1300px;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        color: $main-color;
      }
      button {
        height: fit-content;
      }
    }
    > h3 {
      color: $main-color;
      text-align: center;
    }
  }
}
