@import "../../../sass/main.scss";

.IssueDetailPage {
  .message {
    background-color: green;
    color: white;
    padding: 5px;
  }
  .main {
    margin: 0 auto 0 auto;
    max-width: 1300px;
    > h1,
    > h3 {
      color: $main-color;
      text-align: center;
    }
  }
}
